In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

data = ("penguin-checkpoint.csv")
dataset = pd.read_csv(data)
dataset.head()

   Unnamed: 0 species     island  ...  body_mass_g     sex  year
0           1  Adelie  Torgersen  ...       3750.0    male  2007
1           2  Adelie  Torgersen  ...       3800.0  female  2007
2           3  Adelie  Torgersen  ...       3250.0  female  2007
3           4  Adelie  Torgersen  ...          NaN     NaN  2007
4           5  Adelie  Torgersen  ...       3450.0  female  2007

[5 rows x 9 columns]